{# Check if there are any alerts in the flashbag #}
{% if app.session.flashBag.peek("alerts") is not empty %}
  {# Start looping through the notifications #}
  {% for msg in app.session.flashBag.get("alerts") %}
    <div class="alert alert-{{ msg.type }}">
      {{ msg.message }}
    </div>
  {% endfor %}
{% endif %}