{# app/Resources/views/blog/index.html.twig #}
{% extends 'common.html.twig'%}

{% block body %}
<section id="portfolio">
    <div class="container">
        <div class="row">
          <h1 class="page-header">
            My Blog
            <small>Secondary Text</small>
          </h1>

          {% for post in posts %}
          <h2>
              <a href="{{ path('blog_singular', {id:post.id}) }}">{{ post.title }}</a>
          </h2>
          <p class="lead">
              by <a href="index.php">Start Bootstrap</a>
          </p>
          <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.createdAt | date() }}</p>
          <hr>
          <img class="img-responsive" src="http://placehold.it/900x300" alt="">
          <hr>
          <p>{{ post.summary }}</p>
          <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

          <hr>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}
